Redirect back to Origin page not working

Hi all,

Having a bit of an issue. Have been using 3.6.0 version for about a month after errors occurred in an earlier version.

I am able to get the member to login, however, it will only redirect back to the home page instead of going to the origin page.

Can some one help please. Under pressure from boss.



Furthermore to this when I change the wp_redirect( home_url() );  to a specific page, it will take me to the specific page after login.

I am wondering if there is something preventing COOKIES. I am running two sites and one site is running completely fine

	if( $this->settings->redirect_user_back && !empty( $redirect_url ) ) {
			do_action( 'openid-connect-generic-redirect-user-back', $redirect_url, $user );
			setcookie( $this->cookie_redirect_key, $redirect_url, 1, COOKIEPATH, COOKIE_DOMAIN, is_ssl() );
			wp_redirect( $redirect_url );
		}
		// otherwise, go home!
		
		else {
			wp_redirect( home_url() );
		}
exit;
}

@jmac48210 what browser are you using? If you are using Google Chrome can you check the the Developer Tools and take a look at your cookies when the page you are logging in from is loaded? Look for the cookie key `openid-connect-generic-redirect` and check that the value matches the page you are on. When your IDP redirects your user back to your site the callback processing should be checking for that cookie and sending the user back to that URL. Do you by chance have any custom code that is hooking into the `openid-connect-generic-cookie-redirect-url` filter and are changing the redirect URL, or possible setting the value to something that is being seen as "empty"? The other thing to check is that you are not setting the `redirect_to` URL query parameter to a blank value as this would also end up causing the redirect URL to a blank value.

> @jmac48210 what browser are you using? If you are using Google Chrome can you check the the Developer Tools and take a look at your cookies when the page you are logging in from is loaded? Look for the cookie key `openid-connect-generic-redirect` and check that the value matches the page you are on. When your IDP redirects your user back to your site the callback processing should be checking for that cookie and sending the user back to that URL. Do you by chance have any custom code that is hooking into the `openid-connect-generic-cookie-redirect-url` filter and are changing the redirect URL, or possible setting the value to something that is being seen as "empty"? The other thing to check is that you are not setting the `redirect_to` URL query parameter to a blank value as this would also end up causing the redirect URL to a blank value.

Hi Tim

Sorry I have only just seen this. I will look at this this afternoon. Thank you and will be intouch

Hi Tim

from what I can see, no cookie-key is showing openid-connect-generic-redirect
![image](https://user-images.githubusercontent.com/68085657/91235370-c37c0c80-e778-11ea-9023-bfd467e40120.png)


On our other site the openid-connect-generic-redirect is there

@jmac48210 hmm, OK. Can you provide me some additional details:

- PHP Version
- WordPress Version
- OpenID Connect Plugin Version
- Hosting Provider
- OIDC Identify Provider
- The list of all other WordPress plugins installed
- Any Must-Use Plugins installed
- WordPress Theme installed
- Browsers, and their versions, tested

I don't recall if you mentioned if you've tried disabling all other plugins besides OpenID Connect and tested?

Thanks!

> On our other site the openid-connect-generic-redirect is there

OK, I'd be interested to know what is the difference between the 2 sites.

Both sites connect to the same OIDC, this is our membership database. Its called Unison/uActive

Site with problems
PHP - 7.2
Wordpress version - 5.4.1
OpenID Connect - 3.6
Hosting Provider - Amazon
Plugins and must-use
- ACF
-Buzzsprout
- Classic editor
- Cool timeline pro
- CPT UI
- Gravity Forms
- Ninja Tables
- OpenID Connect
- Posts in page
- redirection
- shortcake (shortcode ui)
- slider revolution 6
- Theme my login
- Yoast

Browsers tested on = firefox, chrome, safari, IE and Edge

PHP - 7.2
Wordpress version - 4.9.x
OpenID Connect - 3.3.1
Hosting Provider - Amazon
Plugins and must-use
- ACF
- Buzzsprout
- Classic editor
- Cool timeline pro
- CPT UI
- Gravity Forms
- Ninja Tables
- OpenID Connect
- Posts in page
- redirection
- shortcake (shortcode ui)
- slider revolution 5
- Theme my login
- Yoast

Now the custom theme with the site with problems has been in operation for over a year. It was only in the past 6-8 weeks that things went crazy, first there was a missing state error with version of OpenID Connect 3.3.1 then I increased the timeout of this to which it would log in but redirect to favicon for some bizzare reason, thus upgraded to 3.6.0 which stopped the missing state but would only go back to the home page. 

The only code changes made to 3.6.0 at the time where to make sure the plugin connected to the OIDC correctly as the out of the box did not connect to the OIDC database, and this was based on some of the code that was implemented by third party provider that we no longer have a relationship with. 



and yes I have disengaged each plugin and same result.

Also, have tested the using the second sites theme, plus the standard default themes and have same result.

The only change I have now made now is
else {
		wp_redirect( home_url() );

to go to the members area instead of home page as a short term solution.

@jmac48210 are you saying that the 3.6 version of the OpenID Connect Plugin was customized by someone to get it working with your IDP?

3.3.1 was customized with same code for both sites to connect IDP.

3.6.0 needed the same to connect to IDP,



> @jmac48210 are you saying that the 3.6 version of the OpenID Connect Plugin was customized by someone to get it working with your IDP?

the below was changed in 3.3.1 and copied to 3.6.0 in the openid-connect-generic-client.php

![image](https://user-images.githubusercontent.com/68085657/91239363-b106d080-e782-11ea-9ea5-b9cab3b6b0cd.png)

and

![image](https://user-images.githubusercontent.com/68085657/91239372-b7954800-e782-11ea-8aa8-802ed2f58079.png)


OK, so the plugin code should have never been edited directly and instead custom code should have been written to to use the pligin's provided hooks and filters. Can you provide me with zip files of the entire plugin directories for both plugin versions?

Not a problem, this is what the third party did originally to 3.3.1

new is 3.6
old is 3.3.1

[openid connect new.zip](https://github.com/daggerhart/openid-connect-generic/files/5126864/openid.connect.new.zip)
[openid connect old.zip](https://github.com/daggerhart/openid-connect-generic/files/5126865/openid.connect.old.zip)


So from what I can tell from the screenshots you provided, the code changes that were made were done to support the Basic Authentication method of connecting to the the IDP, which is not recommended but is part of the OpenID standard (https://tools.ietf.org/html/rfc6749#section-2.3.1). What I think will be best is to create an enhancement to plugin to support this standard. I can see where some of the code changes were made there aren't any existing hooks provided to perform the required changes outside of modifying the plugin code. Once I have a chance to look through all of the code in the zip files provided I can provide a better evaluation of the issue. From what I can tell the redirect cookie is never being set which is why it's falling back to redirecting to the home page.

Hi Tim

Thats what my assumption was last week, especially when I was able to change the redirect to siteurl/members-area.

Unfortunately I am bot in control of the IDP and not involved in the project at all.

Thank you for your help

John

@jmac48210 I can't quite confirm it, but the code changes made to the `includes/openid-connect-generic-login-form.php` file to add `Cache-Control` headers when generating the login button, could be preventing the redirect cookie from being set in the browser. If you remove line 156, `add_action('init', 'test');`, from your edited version of the plugin does that fix the problem?

Ultimately, what I'd like to do is make an enhancement to the plugin to officially support RFC6749 Section 2.3.1, where you should be able to simply set this flag in the plugin settings and it should work out-of-the-box for your OIDC IDP. Do you have a test or development instance of your IDP, whereby I could setup a testing WordPress site to point to as I work out the new changes?

Now this is strange,

for a very short time, effectively 1 instance, openid-connect-generic-redirect appeared and had %/wp-admin appearing and on using the login for a test member, it went to the home page.

it is now not appearing again

For additional reference, as I may change this issue into a request for supporting Basic Authentication.

https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

> 9.  Client Authentication
> This section defines a set of Client Authentication methods that are used by Clients to authenticate to the Authorization Server when using the Token Endpoint. During Client Registration, the RP (Client) MAY register a Client Authentication method. If no method is registered, the default method is client_secret_basic.
> 
> These Client Authentication methods are:
> 
> client_secret_basic
> Clients that have received a client_secret value from the Authorization Server authenticate with the Authorization Server in accordance with Section 2.3.1 of OAuth 2.0 [RFC6749] using the HTTP Basic authentication scheme.
> client_secret_post
> Clients that have received a client_secret value from the Authorization Server, authenticate with the Authorization Server in accordance with Section 2.3.1 of OAuth 2.0 [RFC6749] by including the Client Credentials in the request body.
> client_secret_jwt
> Clients that have received a client_secret value from the Authorization Server create a JWT using an HMAC SHA algorithm, such as HMAC SHA-256. The HMAC (Hash-based Message Authentication Code) is calculated using the octets of the UTF-8 representation of the client_secret as the shared key.

A plugin setting to toggle between `client_secret_basic` & `client_secret_post`/`client_secret_jwt` is what would probably be implemented.

> Now this is strange,
> 
> for a very short time, effectively 1 instance, openid-connect-generic-redirect appeared and had %/wp-admin appearing and on using the login for a test member, it went to the home page.
> 
> it is now not appearing again

@jmac48210 was this after removing the code I mentioned that is adding the `Cache-Control` headers?

The request to implement `client_secret_basic` was made on issue #188 




> > Now this is strange,
> > for a very short time, effectively 1 instance, openid-connect-generic-redirect appeared and had %/wp-admin appearing and on using the login for a test member, it went to the home page.
> > it is now not appearing again
> 
> @jmac48210 was this after removing the code I mentioned that is adding the `Cache-Control` headers?

so when i commented out line 156 add_action('init', 'test');

I had one instance of  openid-connect-generic-redirect

subsequent attempts there was no reference to openid-connect-generic-redirect

each login attempt took me back to home page (was logged in) instead of either, the referring page or going to member area.

would it be possible to do a zoom meeting for this please.

> > > Now this is strange,
> > > for a very short time, effectively 1 instance, openid-connect-generic-redirect appeared and had %/wp-admin appearing and on using the login for a test member, it went to the home page.
> > > it is now not appearing again
> > 
> > 
> > @jmac48210 was this after removing the code I mentioned that is adding the `Cache-Control` headers?
> 
> so when i commented out line 156 add_action('init', 'test');
> 
> I had one instance of openid-connect-generic-redirect
> 
> subsequent attempts there was no reference to openid-connect-generic-redirect
> 
> each login attempt took me back to home page (was logged in) instead of either, the referring page or going to member area.

Hi Tim just liaising with the IT department on this be in contact soon.